body{
	background: #66d0ed;
	padding-top: 0%;
	overflow-x: none;
}

.button1{
	font-family: atrament-web, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5vw;
	position: fixed;
	background: #8cc63f;
	top: 2%;
	left: 2%;
	color: #FFFFFF;
	padding: 0.5% 0.9% 0.5% 0.9%;
	border-radius: 15px;
}

.button2{
	font-family: atrament-web, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5vw;
	position: fixed;
	background: #8cc63f;
	top: 2%;
	left: 93%;
	color: #FFFFFF;
	padding: 0.5% 0.9% 0.5% 0.9%;
	border-radius: 15px;
}

.left{
	width: 23vw;
	position: fixed;
	left: 0%;
	top: 37.5%;
}

.right{
	width: 23vw;
	position: fixed;
	left: 75%;
	top: 37.5%;
}

a:visited {color: #FFFFFF;}

h1{
	font-family: atrament-web, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 4.5vw;
	text-align: center;
	margin: 1.8% 0% 0% 0%;
	color: #497114;
}
	
img{
	width: 27%;
	margin: 0% 35% 0% 35%;
}
